th,table{
	color: blue;
	font-size: 25px;
}

h1{
	color: black;
	font-size: 60px;
}

td{
	color: red;
	font-size: 20px;
}

body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTulZb0N0cIDKTzRQ_Jr8_tNngAqXWwaWz3CA&usqp=CAU);	
	background-repeat: no-repeat;
	background-size: 1400px 800px;
}