<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Welcome page</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/publictvapp/index.css" %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
		<marquee> Home Page</marquee>
		<h2>Welcome to PublicTV News Channel</h2>

		<div class="container" align="center">
			<div class="jumbotron">
  				<h1 class="display-4">Alright mundak hogana</h1>
  					<p>Ranganna rocks !!! Radakka shocks!!! </p>
  					
  					<a class="btn btn-primary btn-lg" href="/publictvapp/movies/" role="button">Movies</a>&nbsp&nbsp&nbsp
  					<a class="btn btn-primary btn-lg" href="/publictvapp/sports/" role="button">Sports</a>&nbsp&nbsp&nbsp
  					<a class="btn btn-primary btn-lg" href="/publictvapp/politics/" role="button">Politics</a>
  						
			</div>
		</div>



</body>
</html>